/********************************************************************
 *                               Fonts                              *
 ********************************************************************/

/* Aurulent Sans has OFL 1.1 license, see http://scripts.sil.org/OFL_web */

@font-face {
    font-family: NestorFont;
    src: url(fonts/AurulentSans-Regular.otf);
}

@font-face {
    font-family: NestorFont;
    src: url(fonts/AurulentSans-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: NestorFont;
    src: url(fonts/AurulentSans-Italic.otf);
    font-style: italic;
}

@font-face {
    font-family: NestorFont;
    src: url(fonts/AurulentSans-BoldItalic.otf);
    font-weight: bold;
    font-style: italic;
}

/* FIXME unknown licensing for Basic5 */

@font-face {
    font-family: NestorTitleFont;
    src: url(fonts/Basic5.ttf);
}

/**
    Color reference
    
    DARK GRAY       353535      bg
    MEDIUM GRAY     545454      scroll bars, dark input borders
    MIDlIGHT GRAY   9C9C9C      scroll bar trail, light input borders
    LIGHT GRAY      E5E5E5      even listitems
    YELLOW          FFD200
*/

/********************************************************************
 *                              Global                              *
 ********************************************************************/

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

body,
td,
input,
select,
textarea {
	font-family: NestorFont;
}

body {
	background-color: #353535;
}

/********************************************************************
 *                          Loading / Login                         *
 ********************************************************************/

#login-container {
	width: 12em;
	position: absolute;
	
	top: 50%;
	margin-top: -10em;
	
	left: 50%;
	margin-left: -6em;
}

#login-container #logo-container {
	position: relative;
	width: 12em;
	height: 12em;
	
	margin-left: auto;
	margin-right: auto;
}

#login-container #logo-container img {
	position: absolute;
	top: 1.75em;
	left: 1.25em;
	width: 9.5em;
	height: 9.5em;
}

#login-container #login,
#login-container #password {
	padding-top: 2em;
	text-align: center;
	color: #fff;
}

#login-container .label-container {
	border-top: 1px solid #9c9c9c;
	height: .5em;
}

#login-container .label-container label {
	background: #353535;
	padding: 0 1em;
	
	position: relative;
	top: -.75em;
	
	color: #9c9c9c;
}

#login-container .error {
	color: #f20;
}

#login-container input {
	border: 0;
	background: transparent;
	color: #fff;
	text-align: center;
	width: 100%;
}

#login-container #password {
	display: none;
}


/********************************************************************
 *                          Navigation bar                          *
 ********************************************************************/

#bar {
	width: 15em;
	
	position: absolute;
	top: 1em;
	bottom: 1em;
	left: 1em;
	
	color: #fff;
}

#bar a {
	color: #9c9c9c;
}

#viewport {
	position: absolute;
	top: 1em;
	bottom: 1em;
	left: 17em;
	right: 1em;
	
	background-color: #fff;
}

#bar #nestor #logo-container {
	float: left;
	border-radius: 1.5em;
	background-color: #353535;
	
	width: 3em;
	height: 3em;
}

#bar #nestor img {
	margin-top: 0.375em;
	margin-left: 0.25em;
	width: 2.5em;
	height: 2.5em;
}

#bar .clear {
	clear: both;
}

#bar .app {
	margin-top: 1em;
}

#bar .app .title {
	margin-top: .75em;
	border-top: 1px solid #9c9c9c;
	text-align: center;
}

#bar .app .title span {
	display: inline;
	background: #353535;
	padding: 0 1em;
	
	position: relative;
	top: -.75em;
}