/**
 ** Fonts
 **/

/* Roboto Condensed - Apache 2.0 license */
/* Lato - OFL 1.1 */
/* Julian sans one - OFL 1.1 */

@font-face {
    font-family: NestorFont;
    src: url(../fonts/Lato-Light.ttf);
}

@font-face {
    font-family: NestorFont;
    src: url(../fonts/Lato-Regular.ttf);
    
    font-weight: bold;
}

@font-face {
    font-family: NestorFont;
    src: url(../fonts/Lato-LightItalic.ttf);
    font-style: italic;
}

@font-face {
    font-family: NestorFont;
    src: url(../fonts/Lato-Italic.ttf);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: NestorTitleFont;
    src: url(../fonts/JuliusSansOne-Regular.ttf);
}

@import "defs.less";


/**
 ** Global styles
 **/

* {
	/* border-box FTW */
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	
	/* reset UA margins */
	margin: 0;
	padding: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

body,
td,
input,
select,
textarea {
	font-family: NestorFont;
}

body {
	background-color: @darkGray;
}

#heartbeat-lost {
	.fill-container;

	display: none;

	#background {
		.fill-container;

		opacity: 0.75;
		background-color: @darkGray;
	}

	#message-container {
		font-size: .75em;
		font-weight: bold;
		text-align: center;
		color: @yellow;

		background-color: @darkerGray;
		width: 30em;
		padding: 1em;

		position: absolute;
		top: 5em;
		left: 50%;
		margin-left: -15em;

		#message {
			color: @mlGray;
			font-weight: normal;
		}
	}
}


/**
 ** Loading screen and login
 **/

#login-container {
	width: 12em;
	position: absolute;
	
	top: 50%;
	margin-top: -10em;
	
	left: 50%;
	margin-left: -6em;


	text-align: center;

	#logo-container {
		position: relative;
		width: 12em;
		height: 12em;
		
		margin-left: auto;
		margin-right: auto;
	}

	#logo-container img {
		position: absolute;
		top: 1.75em;
		left: 1.25em;
		width: 9.5em;
		height: 9.5em;
	}

	#login,
	#password,
	#loading {
		padding-top: 2em;
		color: @white;
	}

	#auth-providers {
		margin-top: 2em;

		img {
			width: 28px;
			height: 28px;
		}

		a:link {
			.base { display: inline; }
			.hover { display: none; }
		}

		a:hover {
			.hover { display: inline; }
			.base { display: none; }
		}
	}

	.label-container {
		border-top: 1px solid @mlGray;
		height: .5em;
	}

	.label-container label {
		font-family: NestorTitleFont;
		
		background: @darkGray;
		padding: 0 1em;
		
		position: relative;
		top: -.75em;
		
		color: @mlGray;
	}

	.error {
		color: @yellow;
		font-size: .75em;
	}

	input {
		border: 0;
		background: transparent;
		color: @white;
		text-align: center;
		width: 100%;
	}

	#password {
		display: none;
	}
}


/**
 ** Navigation bar
 **/


@barWidth: 12em;
@margins: .75em;

#bar {
	width: @barWidth;
	
	position: absolute;
	top: @margins;
	bottom: @margins;
	left: @margins;
	
	color: @mlGray;
	
	#nestor,
	.plugin {
		font-size: .75em;
	}
		
	a {
		color: @mlGray;
	}
	
	#nestor {
		display: table;
		margin-bottom: 2em;
	
		#logo-container,
		#user-container {
			display: table-cell;
			vertical-align: middle;
		}
		

		img {
			margin: .375em 1em 0 0;
			
			width: 2.5em;
			height: 2.5em;
		}
		
		.user {
			color: @white;
			text-transform: capitalize;
			font-family: NestorTitleFont;
		}
		
		ul.userlinks {
			list-style: none;
			
			li {
				display: inline;
			}
			
			li + li:before {
				content: ' / ';
			}
		}
	}

	.plugin {
		margin-bottom: 2 * @margins;
		
		.title {
			color: @white;
			text-align: center;
			text-transform: capitalize;
			font-family: NestorTitleFont;
		}
		
		.applets {
			margin-bottom: @margins;

			img.icon, .icon svg {
				width: 1em;
				height: 1em;
				margin: .2em;
			}

			.icon.active svg * {
				fill: @yellow !important;
			}

			a svg * {
				fill: @midGray !important;
			}

			a:hover svg * {
				fill: @yellow !important;
			}
		}

		ul.pages {
			list-style: none;
			
			li {
				&.selected {
					font-weight: bold;
				}
				
				a {
					display: block;
					text-decoration: none;
				}
				
				a:hover {
					background-color: @darkerGray;
				}
				
				img {
					vertical-align: middle;
					width: 1em;
					height: 1em;
					margin-right: .2em;
				}
			}
		}
	}
}


#viewport {
	position: absolute;
	top: @margins;
	bottom: @margins;
	left: @barWidth + 2*@margins;
	right: @margins;
	overflow: auto;
	
	background-color: @lightGray;

	#search {
		background-color: @darkGray;
		padding: .25em;

		display: none;

		input {
			border: 0;
			background-color: @lightGray;
		}
	}

	.main-view {
		font-size: .75em;

		.icon, .active-icon, .action-with-icon {
			vertical-align: baseline;

			svg, img {

				height: 1em;
				width: 1em;
			}
		}

		.active-icon, .action-with-icon {

			svg * {
				fill: @mlGray !important;
			}

			&:hover svg * {
				fill: @midGray !important;
			}
		}

		a.action-with-icon:link {
			font-size: .9em;
			text-decoration: none;
			color: @mlGray;
		}

		a.action-with-icon:hover {
			color: @midGray;
			text-decoration: underline;
		}

		a.action-with-icon + a.action-with-icon {
			margin-left: 1em;
		}

		.content-box {
			.white-box;

			table {
				border-spacing: 0;
				border-collapse: collapse;
			}

			.content-list {
				&>:nth-child(2n+1) {
					background-color: @xlightGray;
				}
			}

			.content-list-with-header {
				&>:nth-child(2n+2) {
					background-color: @xlightGray;
				}
			}

			.list-item {
				list-style-type: none;
				padding: .5em;

				.list-item-description {
					margin-bottom: .5em;
				}

				.list-item-status {
					font-size: .9em;
					float: right;
					color: @midGray;
				}

				.list-item-title {
					font-weight: bold;
					color: @darkGray;
				}

				.list-item-subtitle {
					font-size: .9em;
					color: @midGray;
				}

				.list-item-actions {
					text-align: right;
				}
			}

			.progress {
				height: .3em;
				
				background-color: @midGray;
				margin: 0;
				position: relative;
					
				.bar {
					position: absolute;
					top: 0;
					left: 0;
					
					height: 100%;
					width: 0;
					background-color: @yellow;
				}
				
			}
		}
	}
	
	.datagrid {
		font-size: .75em;
		padding: @margins;
		border-spacing: 0;
		width: 100%;
		
		th {
			text-align: left;
			font-family: NestorTitleFont;
			background-color: @darkGray;
			color: @yellow;
		}
		
		tr:nth-child(even) {
			background-color: @lightGray;
		}
	}
}


@popupWidth: 30em;
#popup {
	.fill-container;
	display: none;

	#background {
		.fill-container;

		opacity: 0.5;
		background-color: @darkGray;
	}

	#content {
		.white-box;
		box-shadow: 0 0 .25em @midGray;

		position: absolute;

		width: @popupWidth;

		left: 50%;
		margin-left: -@popupWidth/2;
		top: 50%;

		font-size: .75em;

		.title {
			font-size: 1.2em;
			font-weight: bold;
			color: @darkGray;
		}

		.content {
			margin: @contentBoxMargin 0;

			&.centered {
				text-align: center;
			}
		}

		.buttons {
			text-align: center;

			input {
				margin: 0 5em;
			}
		}
	}
}


#debug {
	.fill-container;

	background-color: @darkGray;
	display: none;

	a {
		color: @mlGray;
	}

	#loading {
		color: white;
		font-size: .75em;
		font-style: italic;

		display: none;
	}

	#display {
		color: white;
		font-size: .75em;
		overflow: auto;
		
		&, td {
			font-family: monospace;
			vertical-align: top;
		}

		th {
			text-align: left;
		}

		td.key:after {
			content: ':';
		}

		th, td.key {
			color: @mlGray;
		}

		.string:before, .string:after {
			content: '"';
		}

		.string {
			white-space: pre;
		}

		.undefined, .null {
			font-style: italic;
		}

		th.expand:after {
			content: '(+)';
		}

		table.expanded > tr > th.expand:after {
			content: '(-)';
		}

		tr.data {
			display: none;
		}

		table.expanded > tr.data {
			display: table-row;
		}

	}
}



@sliderBarHeight: .3em;
@sliderHandleSize: .7em; 

.slider {
	height: @sliderHandleSize;
	position: relative;

	.available, .fill {
		position: absolute;
		top: (@sliderHandleSize - @sliderBarHeight) / 2;
		left: 0;
		width: 0;
		height: @sliderBarHeight;
	}

	.available {
		background-color: @midGray;
	}

	.fill {
		background-color: @yellow;
	}

	.handle {
		background-color: @yellow;
		border-radius: @sliderHandleSize/2;

		position: absolute;
		top: 0;
		left: 0;
		width: @sliderHandleSize;
		height: @sliderHandleSize;
		margin-left: -@sliderHandleSize/2;

		display: none;
	}

	&:hover .handle, &.moving .handle {
		display: block;
	}
}