/*
This file is part of nestor.

nestor is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

nestor is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with nestor.  If not, see <http://www.gnu.org/licenses/>.
*/

.download_item {
    position: relative;
    height: 3em;
    
    border-bottom: 1px solid black;
}

.download_bar {
    background-color: #FFD200;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.download_item.finished .download_bar {
    background-color: black;
}

.download_item.finished {
    color: white;
    border-bottom: 1px solid white;
}

.download_item.finished .done {
    border-bottom: 1px solid white;
}

.download_item.paused .download_bar, .download_item.stopped .download_bar  {
    background-color: #E5E5E5;
}

.download_item.paused, .download_item.stopped {
    color: #9C9C9C;
}

.download_item.paused .done, .download_item.stopped .done {
    border-bottom: 1px solid #9C9C9C;
}

.download_item.paused .speed, .download_item.paused .seeds,
.download_item.stopped .speed, .download_item.stopped .seeds,
.download_item.finished .speed, .download_item.finished .seeds {
    visibility: hidden;
}

.download_ctn {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.download_ctn div {
    text-overflow: ellipsis;
}

.download_ctn>div {
    line-height: 3em;
}

.download_ctn>div>div {
    line-height: 1.5em;
}

.download_item .size, .download_item .done, .download_item .speed, .download_item .percent {
    text-align: right;
}

.download_item .done {
    border-bottom: 1px solid black;
}

.download_item .seeds, .download_item .app {
    text-align: center;
}

.download_item .percent_value {
    font-size: 2em;
    line-height: 1.5em;
    font-weight: bold;
}

