/*
This file is part of nestor.

nestor is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

nestor is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with nestor.  If not, see <http://www.gnu.org/licenses/>.
*/

#music_playlistcol_playlist_S.drag_hover #music_playlistcol_playlist_BDY_END {
    border-top: 1px solid black;
}

#music_summary_art {
    font-size: 0.8em;
}

.music_inputlabel {
    display: block;
    width: 25%;
    float: left;
}

.music_input {
    width: 75%;
}

.music_editbtn {
}

.music_editing {
    text-align: right;
}

.playlist_item.drag_above {
    border-top: 1px solid black;
}

.playlist_item.drag_below {
    border-bottom: 1px solid black;
}

.playlist_item span {
    background-color: white;
}

.playlist_item.playing span {
    background-color: #FFD200;
    font-size: 1.75em;
}

.playlist_item .artist {
    font-weight: bold;
}

.playlist_item.playing .separator {
    visibility: hidden;
    white-space: pre;
}

