/*
This file is part of nestor.

nestor is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

nestor is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with nestor.  If not, see <http://www.gnu.org/licenses/>.
*/

/********************************************************************/
/*                               Fonts                              */
/********************************************************************/

/* Aurulent Sans has OFL 1.1 license, see http://scripts.sil.org/OFL_web */

@font-face {
    font-family: NestorFont;
    src: url(/web/fonts/AurulentSans-Regular.otf);
}

@font-face {
    font-family: NestorFont;
    src: url(/web/fonts/AurulentSans-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: NestorFont;
    src: url(/web/fonts/AurulentSans-Italic.otf);
    font-style: italic;
}

@font-face {
    font-family: NestorFont;
    src: url(/web/fonts/AurulentSans-BoldItalic.otf);
    font-weight: bold;
    font-style: italic;
}

/* FIXME unknown licensing for Basic5 */

@font-face {
    font-family: NestorTitleFont;
    src: url(/web/fonts/Basic5.ttf);
}

/********************************************************************/
/*                          General layout                          */
/********************************************************************/

/*
    Color reference
    
    DARK GRAY       353535      bg
    MEDIUM GRAY     545454      scroll bars, dark input borders
    MIDlIGHT GRAY   9C9C9C      scroll bar trail, light input borders
    LIGHT GRAY      E5E5E5      even listitems
    YELLOW          FFD200
*/

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    
    overflow: hidden;
    background-color: #353535;
}

body, html, input {
    font-family: NestorFont;
    font-size: 9pt;
}

#NESTOR_ROOT {
    position: relative;
    height: 100%;
    width: 100%;
}

#NESTOR_AL {
    height: 6em;
    
    background-color: #FFD200;
    position: absolute;
    bottom: 0;
    left: 1em;
    right: 1em;
    overflow: hidden;
}

#NESTOR_WS {
    position: absolute;
    top: 1em; 
    bottom: 6.2em;
    left: 2em;
    right: 2em;
    
    overflow: auto;
}

#NESTOR_SCRIPTS {
    display: none;
}

.app_workspace {
    position: absolute;
    top: 0; 
    bottom: 0;
    left: 0;
    right: 0;    
    overflow: auto;
}

/********************************************************************/
/*                       Application summaries                      */
/********************************************************************/

.nestor_app {
    width: 6em;
    height: 6em;
    float: left;
    
    background-color: white;
}

.nestor_app img {
    height: 4em;
    width: 4em;
    margin: 1em;
}

.applist_boundary, .nestor_boundary {
    height: 6em;
    float: left;
}

.applist_boundary {
    visibility: hidden;
}

.active .applist_boundary {
    visibility: visible;
}

.applist_boundary.left {
    margin-left: 0.5em;
}

.applist_boundary.right {
    margin-right: 0.5em;
}

.app_summary_title {
    font-family: NestorTitleFont;
}

.app_summary {
    height: 6em;
    width: 15em;
    float: left;
}

.active .app_summary {
    background-color: white;
}

.app_summary.drag_hover {
    background-color: #FFAAFF;
}

/********************************************************************/
/*                        Framework elements                        */
/********************************************************************/

/* Progress bar */

.progress_bar {
    background-color: black;
    height: 0.4em;
    overflow: hidden;
}

.progress_bar_content {
    background-color: white;
    height: 0.4em;
    overflow: hidden;
}

.active .app_summary .progress_bar_content {
    background-color: #FFD200;
}

/* Scrolling container */

.scroll_container {
    position: relative;
    overflow: hidden;
}

.scroll_container_wrap {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; /* Changed after we compute OS scrollbar width in JS */
    overflow: auto;
}

.scroll_container_cnt {
    position: absolute;
    left: 0;
    right: 0;
}

.scroll_container_cnt.overflowed {
    border-right: 1px solid #9C9C9C;
}

.scroll_container_bar {
    height: 0;
    position: absolute;
    right: 0;
    top: 0;
    
    /* Customizable */
    background-color: #545454;
    width: 5px;
}

/* Object lists */

.object_list_inside {
    background-color: white;
    position: absolute;
    top: 0.2em;
    left: 0.2em;
    bottom: 0.2em;
    right: 0.2em;
}

.object_list_menu {
    display: none;
    background-color: #E5E5E5;
    padding: 0.4em;
    border: 1px solid black;
    
    position: absolute;
    top: 0;
    left: 0;
}

.object_list_menuitem {
    cursor: hand;
}

.object_list_menuitem:hover {
    background-color: black;
    color: #FFD200;
}

.list_title {
    font-family: NestorTitleFont;
    margin: 0 1em 0 1em;
    border-bottom: 1px solid;
}

.list_title img {
    vertical-align: text-top;
}

.list_title_span {
    font-weight: bold;
    padding-left: 0.4em;
    padding-right: 0.4em;
    background-color: black;
    color: white;
}

.list_title * {
    float:left;
    position: relative;
    left: -3px;
}

.list_item {
    position: relative;
    cursor: hand;
}

.list_item.drag_hover {
    font-weight: bold;
}

.list_item span.cell {
    /*height: 1.2em;*/
    text-overflow: ellipsis;
}

.list_item.odd {
    background-color: #E5E5E5;
}

.selected, .selected.odd {
    background-color: black;
    color: #FFD200;
}


/********************************************************************/
/*                              Popups                              */
/********************************************************************/

div.nestor_fatal_error {
    border: 2px solid red;
    color: red;
    background-color: #FFCCCC;
    padding: 1em;
    
    position: absolute;
    left: 30%;
    right: 30%;
    top: 40%;
    bottom: 40%;
    
    overflow: auto;
}

.drag_label {
    font-family: NestorFont;
    border: 1px solid black;
    background-color: white;
}

.drag_label.droppable {
    font-family: NestorFont;
    border: 1px solid black;
    background-color: black;
    color: #FFD200;
}


/********************************************************************/
/*                              Inputs                              */
/********************************************************************/
    
/* FIXME these are ugly, change colors ! */
input[type=text] {
    border-top: 1px solid #545454;
    border-left: 1px solid #545454;
    border-right: 1px solid #9C9C9C;
    border-bottom: 1px solid #9C9C9C;
}

input[type=button] {
    border-top: 1px solid #9C9C9C;
    border-left: 1px solid #9C9C9C;
    border-right: 1px solid #545454;
    border-bottom: 1px solid #545454;
}

input.blurred {
    color: #9C9C9C;
}

