/********************************************************************/
/*                          General layout                          */
/********************************************************************/

/*
    DARK GRAY       353535      bg
    MEDIUM GRAY     545454      hover items, scroll bars
    MIDlIGHT GRAY   9C9C9C      scroll bar trail
    LIGHT GRAY      E5E5E5      even listitems
    YELLOW          FFD200
*/

body, html {    
    font-family: sans-serif;
    font-size: 9pt;
    width: 100%;
    height: 100%;
    margin: 0;
    
    overflow: hidden;
    background-color: #353535;
}

#NESTOR_ROOT {
    position: relative;
    height: 100%;
    width: 100%;
}

#NESTOR_AL {
    height: 6em;
    
    background-color: #FFD200;
    position: absolute;
    bottom: 0;
    left: 1em;
    right: 1em;
    overflow: hidden;
}

#NESTOR_WS {
    position: absolute;
    top: 1em; 
    bottom: 6.2em;
    left: 2em;
    right: 2em;
    
    overflow: auto;
}

.app_workspace {
    position: absolute;
    top: 0; 
    bottom: 0;
    left: 0;
    right: 0;    
    overflow: auto;
}

/********************************************************************/
/*                       Application summaries                      */
/********************************************************************/

.nestor_app {
    width: 6em;
    height: 6em;
    float: left;
    
    background-color: white;
}

.nestor_app img {
    height: 4em;
    width: 4em;
    margin: 1em;
}

.applist_boundary, .nestor_boundary {
    height: 6em;
    float: left;
}

.applist_boundary {
    visibility: hidden;
}

.active .applist_boundary {
    visibility: visible;
}

.applist_boundary.left {
    margin-left: 0.5em;
}

.applist_boundary.right {
    margin-right: 0.5em;
}

.app_summary_title {
    font-weight: bold;
    text-transform: uppercase;
}

.app_summary {
    height: 6em;
    width: 15em;
    float: left;
}

.active .app_summary {
    background-color: white;
}

.app_summary.drag_hover {
    background-color: #FFAAFF;
}

/********************************************************************/
/*                        Framework elements                        */
/********************************************************************/

/* Progress bar */

.progress_bar {
    background-color: black;
    height: 0.4em;
    overflow: hidden;
}

.progress_bar_content {
    background-color: white;
    height: 0.4em;
    overflow: hidden;
}

.active .app_summary .progress_bar_content {
    background-color: #FFD200;
}

/* Scrolling container */

.scroll_container {
    position: relative;
    overflow: hidden;
}

.scroll_container_wrap {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; /* Changed after we compute OS scrollbar width in JS */
    overflow: auto;
}

.scroll_container_cnt {
    position: absolute;
    left: 0;
    right: 0;
}

.scroll_container_cnt.overflowed {
    border-right: 1px solid #9C9C9C;
}

.scroll_container_bar {
    height: 0;
    position: absolute;
    right: 0;
    top: 0;
    
    /* Customizable */
    background-color: #444;
    width: 5px;
}

/* Object lists */

.object_list_inside {
    background-color: white;
    position: absolute;
    top: 0.2em;
    left: 0.2em;
    bottom: 0.2em;
    right: 0.2em;
}

.object_list_menu {
    display: none;
    background-color: #E5E5E5;
    padding: 0.4em;
    border: 1px solid black;
    
    position: absolute;
    top: 0;
    left: 0;
}

.object_list_menuitem {
    cursor: hand;
}

.object_list_menuitem:hover {
    background-color: black;
    color: #FFD200;
}

.list_title {
    margin: 0 1em 0 1em;
    border-bottom: 1px solid;
    text-transform: uppercase;
}

.list_title img {
    vertical-align: text-top;
}

.list_title_span {
    font-weight: bold;
    padding-left: 0.4em;
    padding-right: 0.4em;
    background-color: black;
    color: white;
}

.list_title * {
    float:left;
    position: relative;
    left: -3px;
}

.list_item {
    cursor: hand;
}

.list_item.odd {
    background-color: #E5E5E5;
}

.list_item .icon {
    visibility: hidden;
    margin-right: 0.1em;
}

.list_item:hover .icon {
    visibility: visible;
}

.selected, .selected.odd {
    background-color: black;
    color: #FFD200;
}


/********************************************************************/
/*                              Popups                              */
/********************************************************************/

div.nestor_fatal_error {
    border: 2px solid red;
    color: red;
    background-color: #FFCCCC;
    padding: 1em;
    
    position: absolute;
    left: 30%;
    right: 30%;
    top: 40%;
    bottom: 40%;
    
    overflow: auto;
}

.drag_label {
    background-color: black;
    color: #FFD200;
}

/********************************************************************/
/*                      Application-specific                        */
/********************************************************************/

#music_playlistcol_playlist_BDY.drag_hover > div#music_playlistcol_playlist_BDY_END {
    border-top: 1px solid black;
}

#music_summary_art {
    font-size: 0.8em;
}

.playlist_item.drag_hover {
    border-top: 1px solid black;
}

.playlist_item span {
    background-color: white;
}

.playlist_item.playing span {
    background-color: #FFD200;
    font-size: 1.75em;
}

.playlist_item .artist {
    font-weight: bold;
}

.playlist_item.playing .separator {
    visibility: hidden;
    white-space: pre;
}

.download_item {
    position: relative;
    height: 3em;
    
    border-bottom: 1px solid black;
}

.download_bar {
    background-color: #FFD200;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.download_item.finished .download_bar {
    background-color: black;
}

.download_item.finished {
    color: white;
    border-bottom: 1px solid white;
}

.download_item.finished .done {
    border-bottom: 1px solid white;
}

.download_item.paused .download_bar {
    background-color: white;
}

.download_item.paused, .download_item.stopped {
    color: #9C9C9C;
}

.download_item.paused .done, .download_item.stopped .done {
    border-bottom: 1px solid 9C9C9C;
}

.download_item.paused .speed, .download_item.paused .seeds,
.download_item.stopped .speed, .download_item.stopped .seeds,
.download_item.finished .speed, .download_item.finished .seeds {
    visibility: hidden;
}

.download_ctn {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.download_ctn div {
    text-overflow: ellipsis;
}

.download_ctn>div {
    line-height: 3em;
}

.download_ctn>div>div {
    line-height: 1.5em;
}

.download_item .size, .download_item .done, .download_item .speed, .download_item .percent {
    text-align: right;
}

.download_item .done {
    border-bottom: 1px solid black;
}

.download_item .seeds, .download_item .app {
    text-align: center;
}

.download_item .percent_value {
    font-size: 2em;
    line-height: 1.5em;
    font-weight: bold;
}

.places_item {
    position: relative;
    height: 1.2em;
    border-bottom: 1px solid black;
    color: #9C9C9C;
}

.places_item.mounted {
    color: black;
}

.places_bar {
    background-color: #FFD200;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.places_ctn {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
