@import "../defs.less";

@albumMargins: 1em;
@coverSize: 12em;

.artistHeader {
	font-family: NestorTitleFont;
	font-size: 1.5em;
	color: @darkGray;

	margin: .75em;
}

.album, .playlist {
	background-color: white;
	border: 1px solid @mlGray;
	margin: @albumMargins;
	padding: @albumMargins;

	& + .artistHeader {
		clear: both;
		padding-top: 2*@albumMargins;
	}

	.edit-controls {
		float: right;

		.edit {
			display: inline;
		}

		.save {
			margin-right: .5em;
		}

		.cancel, .save {
			display: none;
		}

		.icon {
			vertical-align: baseline;

			svg {
				height: 1em;
				width: 1em;
			}
		}
	}

	&.editing .edit-controls {
		.edit {
			display: none;
		}

		.cancel, .save {
			display: inline;
		}
	}

	.info {
		img {
			width: @coverSize;
			height: @coverSize;
			float: left;
			margin-right: @albumMargins;
		}

		.title {
			//font-family: NestorTitleFont;
			font-weight: bold;
			font-size: 1.2em;
			color: @darkGray;
		}

		.artist {
			margin-left: .5em;
			color: @midGray;

			.name {
				color: @darkGray;
			}
		}

		.year, .tracks {
			display: block;
			color: @midGray;
		}

		.playIndicator {
			svg {
				height: .75em;
			}

			margin-right: .25em;

			display: none;
			vertical-align: top;
		}
	}

	&.playlist.playing .info .playIndicator {
		display: inline;
	}

	ul.tracklist {
		list-style-type: none;
		margin-top: @albumMargins;

		li.track {
			position: relative;

			&>* {
				vertical-align: text-top;
			}

			&:nth-child(2n+1) {
				background-color: @xlightGray;
			}

			&.error {
				background-color: red;
			}

			&.selected {
				background-color: @lyellow;

				&:nth-child(2n+1) {
					background-color: @myellow;
				}
			}

			.controls {
				position: absolute;
				right: 4em;

				visibility: hidden;

				.icon {
					margin-right: .5em;
					vertical-align: baseline;

					svg {
						height: 1em;
						width: 1em;
					}
				}
			}

			&:hover .controls {
				visibility: visible;
			}

			.playIndicator {
				visibility: hidden;

				svg {
					height: .75em;

					* {
						fill: @yellow !important;
					}
				}
			}

			&.playing .playIndicator {
				visibility: visible;
			}

			.number {
				margin-right: 1em;
				color: @mlGray;

				display: inline-block;
				width: 1.5em;
				text-align: right;
			}

			.title {
				display: inline-block;
			}

			.detail {
				color: @mlGray;
			}

			.length {
				position: absolute;
				right: 1em;
				color: @mlGray;
			}
		}
	}
}

.album {
	min-height: @coverSize + 2*@albumMargins;

	ul.tracklist {
		margin-left: @coverSize + @albumMargins;
	}
}

.playlist {
	ul.tracklist {
		.track .artist {
			color: @mlGray;
		}
	}
}