/**
 ** Colors
 **/

@darkerGray: hsv(0, 0, 16%);
@darkGray: hsv(0, 0, 21%);
@mdGray: hsv(0, 0, 27%);
@midGray: hsv(0, 0, 32%);
@mlGray: hsv(0, 0, 67%);
@lightGray: hsv(0, 0, 90%);
@xlightGray: hsv(0, 0, 95%);

@white: hsv(0, 0, 100%);
@yellow: hsv(49, 100%, 100%);
@myellow: hsv(49, 50%, 100%);
@lyellow: hsv(49, 25%, 100%);
@red: hsv(16, 100%, 100%);
@error: @red;

/**
 ** Metrics
 **/

@contentBoxMargin: 1em;

/**
 ** Style templates
 **/

.fill-container (@margin: 0) {
	position: absolute;
	top: @margin;
	left: @margin;
	right: @margin;
	bottom: @margin;
}

.white-box (@margin: @contentBoxMargin) {
	background-color: white;
	border: 1px solid @mlGray;
	margin: @margin;
	padding: @margin;

	box-shadow: 0 0 .25em @mlGray;
}