/**
 ** Colors
 **/

@darkerGray: color('#282828');
@darkGray: color('#353535');
@mdGray: color('#444444');
@midGray: color('#545454');
@mlGray: color('#acacac');
@lightGray: color('#e5e5e5');
@xlightGray: color('#f2f2f2');

@white: color('#fff');
@yellow: color('#ffd200');
@myellow: color('#ffe980');
@lyellow: color('#fff4c0');
@red: color('#f40');
@error: @red;

/**
 ** Metrics
 **/

@contentBoxMargin: 1em;

/**
 ** Style templates
 **/

.fill-container (@margin: 0) {
	position: absolute;
	top: @margin;
	left: @margin;
	right: @margin;
	bottom: @margin;
}

.white-box (@margin: @contentBoxMargin) {
	background-color: white;
	border: 1px solid @mlGray;
	margin: @margin;
	padding: @margin;

	box-shadow: 0 0 .25em @mlGray;
}