
/**
 ** Navigation bar
 **/

#bar {
	bottom: @playerHeight + @margins;
	width: @barWidth;
	position: absolute;
	top: @margins;
	left: @margins;

	color: @mlGray;

	#nestor,
	.plugin {
		font-size: .75em;
	}

	a {
		color: @mlGray;
	}

	#nestor {
		display: table;
		margin-bottom: 2em;

		#logo-container,
		#user-container {
			display: table-cell;
			vertical-align: middle;
		}


		svg {
			margin: .375em 1em 0 0;

			width: @logoWidth;
			height: @logoWidth;
		}

		.user {
			color: @white;
			text-transform: capitalize;
			font-family: NestorTitleFont;
		}

		ul.userlinks {
			list-style: none;

			li {
				display: inline;
			}

			li + li:before {
				content: ' / ';
			}
		}
	}

	.plugin + .plugin {
		border-top: 1px solid @midGray;
	}

	.plugin {
		.applets {
			padding: @margins/2;

			&:empty {
				padding: 0;
			}
		}

		ul.pages {
			list-style: none;

			li {
				&.selected {
					font-weight: bold;
				}

				a {
					padding: @margins/2;
					display: block;
					text-decoration: none;
				}

				a:hover {
					background-color: @mdGray;
				}

				a.current {
					svg * {
						fill: @mlGray !important;
					}
				}

				.icon {
					margin-right: @margins;

					svg * {
						fill: @midGray !important;
					}
				}
			}
		}
	}
}

.player-hidden #bar {
	bottom: @margins;
}

.bar-folded #bar {
	width: @barFoldedWidth;

	#nestor {
		margin-bottom: @margins;

		svg {
			margin: @margins/2;

			width: @logoFoldedWidth;
			height: @logoFoldedWidth;
		}
	}

	#user-container {
		display: none !important;
	}

	.applets {
		display: none;
	}

	.plugin ul.pages .label {
		display: none;
	}
}