@import "fonts.less";

/**
 ** Global styles
 **/

* {
	/* border-box FTW */
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;

	/* reset UA margins */
	margin: 0;
	padding: 0;

	font-size: 12pt;
}

::selection, input::selection, select::selection {
	background: @yellow;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

body,
td,
input,
select,
textarea {
	font-family: NestorFont;
}

body {
	background-color: @darkGray;
}

@barWidth: 12em;
@logoWidth: 2.5em;
@logoFoldedWidth: 1.2em;
@playerHeight: 3em;
@margins: .5em;
@barFoldedWidth: @logoFoldedWidth + @margins;

@import "heartbeat.less";
@import "login.less";
@import "navbar.less";
@import "viewport.less";
@import "player.less";
@import "popup.less";
@import "debug.less";

@import "slider.less";
@import "icons.less";
@import "form.less";