::-webkit-scrollbar {
	width: .25em;
}

::-webkit-scrollbar-thumb {
	background-color: @mlGray;
}

#viewport {
	min-height: 100%;
	margin-bottom: @playerHeight;

	margin-left: @barWidth;

	@media @small {
		margin-left: @barFoldedWidth;
	}

	#search {
		background-color: @darkGray;
		padding: .25em;

		display: none;

		input {
			border: 0;
			background-color: @lightGray;
		}
	}

	.main-view {
		font-size: .75em;

		.content-header {
			font-family: NestorTitleFont;
			font-size: 1.5em;
			color: @darkGray;

			margin: .75em;
		}

		.inline-box {
			.box;
			display: inline-block;
			margin: @contentBoxMargin;

			&> .menu {
				float: right;
			}
		}

		.content-box {
			.box;
			margin: @contentBoxMargin;

			& + .content-header {
				clear: both;
				padding-top: 2 * @margins;
			}

			&> .menu, &> .content-box-actions {
				float: right;
				margin-bottom: @contentBoxMargin;
			}

			.content-box-header {
				margin-bottom: @contentBoxMargin;
			}

			table {
				border-spacing: 0;
				border-collapse: collapse;
			}

			.content-list, .content-list-with-header {
				clear: right;

				.selected {
					background-color: @lightGray;
				}
			}

			.content-list {
				&>:nth-child(n+2) {
					border-top: 1px solid @lightGray;
				}
			}

			.content-list-with-header {
				&>:nth-child(n+2) {
					border-top: 1px solid @lightGray;
				}
			}

			.list-item {
				list-style-type: none;
				padding: .5em;
				display: flex;
				flex-flow: column;

				.list-item-head {
					display: flex;
					flex-flow: row wrap;

					.list-item-title {
						font-weight: bold;
						color: @darkGray;
					}

					.list-item-status {
						margin-left: auto;
						font-size: .9em;
						color: @midGray;
					}
				}

				.list-item-body {
					display: flex;
					flex-flow: row wrap;

					.list-item-subtitle {
						font-size: .9em;
						color: @midGray;
					}

					.list-item-details {
						flex-basis: 100%;
					}

					.list-item-actions {
						margin-left: auto;
						.action-with-icon + .action-with-icon {
							margin-left: @margins;
						}
					}
				}
			}

			.content-list-empty {
				list-style-type: none;
				padding: .5em;

				background-color: transparent !important;

				font-weight: bold;
				text-align: center;
				color: @mlGray;
			}

			.progress {
				height: .15em;

				background-color: @mllGray;
				margin: 0;
				position: relative;

				.bar {
					position: absolute;
					top: 0;
					left: 0;

					height: 100%;
					width: 0;
					background-color: @midGray;
				}

			}
		}
	}
}

.player-hidden #viewport {
	margin-bottom: 0;
}

.bar-folded #viewport {
	margin-left: @barFoldedWidth;
}
