/********************************************************************/
/*                          General layout                          */
/********************************************************************/

body, html {    
    font-family: sans-serif;
    font-size: 9pt;
    
    width: 100%;
    height: 100%;
    margin: 0;
}

#domserver_ui {
    position: relative;
    height: 100%;
    width: 100%;
}

#domserver_header {
    height: 3em;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

#domserver_applist {
    width: 19em;
    
    position: absolute;
    top: 3em; 
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    
    margin-left: 1em;
    margin-right: 1em;
}

#domserver_workspace {
    position: absolute;
    top: 3em; 
    bottom: 1em;
    left: 21em;
    right: 1em;
    
    overflow: auto;
}

.app_workspace {
    position: absolute;
    top: 0; 
    bottom: 0;
    left: 0;
    right: 0;    
    overflow: auto;
}

/********************************************************************/
/*                       Application summaries                      */
/********************************************************************/

.app_icon {
    float: left;
    width: 2.5em;
    height: 2.5em;
    margin-left: 0.5em;
}

.active .app_icon, .app_summary_container:hover .app_icon {
    width: 3em;
    height: 3em;
    margin-left: 0;
}

.first > .app_summary {
    border-top: 1px solid;
}

.app_summary {
    border-bottom: 1px solid;
    padding: 1em 0 1em 0;
    
    width: 15em;
    margin-left: 4em;
}

.app_summary.drag_hover {
    background-color: #FFAAFF;
}

/********************************************************************/
/*                        Framework elements                        */
/********************************************************************/

/* Progress bar */

.progress_bar {
    margin: 0.35em 0 0.35em 0;
    border: 1px solid black;
    height: 0.3em;
    overflow: hidden;
}

.progress_bar_content {
    background-color: black;
    height: 0.3em;
    overflow: hidden;
}

/* Scrolling container */

.scroll_container {
    position: relative;
    overflow: hidden;
}

.scroll_container_wrap {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; /* Changed after we compute OS scrollbar width in JS */
    overflow: auto;
}

.scroll_container_cnt {
    position: absolute;
    left: 0;
    right: 0;
}

.scroll_container_bar {
    height: 0;
    position: absolute;
    right: 0;
    top: 0;
    
    /* Customizable */
    background-color: #444;
    width: 0.2em;
}

/* Object lists */

.list_title {
    border-top: 1px solid;
    border-bottom: 1px solid;
    text-transform: uppercase;
}

.list_header {
    background-color: #CCFFCC;
    font-weight: bold;
    text-align: center;
}

.list_item {
    cursor: hand;
}

.list_item:hover {
    background-color: #EEEEEE;
}

.list_item .icon {
    visibility: hidden;
    margin-right: 0.1em;
}

.list_item:hover .icon {
    visibility: visible;
}

.selected, .selected:hover {
    background-color: #DDDDDD;
}


/********************************************************************/
/*                              Popups                              */
/********************************************************************/

div.domserver_fatal_error {
    border: 2px solid red;
    color: red;
    background-color: #FFCCCC;
    padding: 1em;
    
    position: absolute;
    left: 30%;
    right: 30%;
    top: 40%;
    bottom: 40%;
    
    overflow: auto;
}

.drag_label {
    background-color: #FFFFEE;
    border: 1px solid black;
    padding: 0 0.5em 0 0.5em;
}

/********************************************************************/
/*                      Application-specific                        */
/********************************************************************/

#music_playlistcol_playlist_BDY > div.drag_hover {
    border-top: 1px solid black;
}

#music_playlistcol_playlist_BDY.drag_hover > div#music_playlistcol_playlist_BDY_END {
    border-top: 1px solid black;
}

#music_summary_art {
    font-size: 0.8em;
}

#music_playlistcol {
    padding-right: 1em;
}
